.container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 10px;
  margin-left: 20px;
  width: 1000px;
}

.masonry { /* Masonry container */
  column-count: 4;
  column-gap: 1em;
  margin: 1.5em auto;
  max-width: 768px;
  column-gap: 1em;
  column-count: 2;
}
